@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --primary-color: #0066CC;
  --secondary-color: #00C4CC
}


@plugin "daisyui/theme" {
  name: "dark";
  --primary-color: #339AF0; 
  --secondary-color: #22B8CF;
}