@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0D9488;
  --color-secondary: #00C4CC;
}


@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #2DD4BF; 
  --color-secondary: #22B8CF;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));